<!DOCTYPE html>
<html>

<head>
    <title>流量卡发送腾讯会员地址页面</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
    <input type="text" id="morephone" class="form-control" placeholder="填写群发手机号码，号码之间以英文逗号隔开" style="margin: 10px;">
    <button type="button" id="qd" class="btn btn-success" style="margin: 10px;">点击群发</button>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/session.js"></script>
<script type="text/javascript" src="/javascripts/newtv.js"></script>

</html>