<!DOCTYPE html>
<html>

<head>
    <title>支付</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>流量卡就是好，好到没朋友</p>
    支付金额:
    <p>1</p>
    <p id="payImmediately">立即支付支付宝</p>
    <p id="payImmediatelywx">立即支付微信</p>
</body>
<script type="text/javascript">
    var orderId = '<%= orderid%>';

</script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/pay.js"></script>

</html>