<!DOCTYPE html>
<html>

<head>
    <title>流量卡申请进度查询</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>流量卡就是好，好到没朋友</p>
    身份证：<input type="text" id="idCardSearch"> 联系电话：
    <input type="text" id="phoneSearch">
    <p id="searchStart">查询</p>
    <div id="searchInfo" style="display:none">
        姓名：
        <p id="searchName"></p>
        联系方式：
        <p id="searchPhone"></p>
        配送地址：
        <p id="searchAddress"></p>
    </div>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/search.js"></script>

</html>