<!DOCTYPE html>
<html>

<head>
    <title>流量卡申请页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>流量卡就是好，好到没朋友</p>
    <p id="">提交成功</p>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/submit-success.js"></script>

</html>